.App {
  text-align: center;
}


.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  text-align: center;
}

.product-image {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.product-title {
  font-size: 1.2em;
  margin: 10px 0;
}

.product-description {
  font-size: 0.9em;
  color: #555;
}

.product-price {
  font-size: 1.1em;
  color: #333;
  font-weight: bold;
}

form {
  margin-bottom: 20px,
}

input {
  margin: 5px;
  padding: 8px;
  width: 100%;
}

textarea {
  margin: 5px;
  padding: 8px;
  width: 100%;
  height: 60px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: #f8f5f5;
  border: none;
  borderRadius: 5px;
  cursor: pointer;
}